
@{
    ViewBag.Title = "sendMessage";
}

<h2>sendMessage</h2>

<script>

    window.onload = function speak() {
        var msg = new SpeechSynthesisUtterance();
        msg.text = "Your message was succefully sended";
        window.speechSynthesis.speak(msg);
        window.location = "http://localhost:11092/AnotherArea/Home2/Inde2";
    }

</script>