@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:30px; margin-left:2%">
    @*<h1>Hello @Session["userName"].ToString()</h1>*@
    <img src="~/Content/Images/slide-four.jpg" style="width:100% ; height:70%"  class="img-rounded" alt="Cinque Terre" />
</div>

@if (Session["permissions"] == null) {
<div class="row" style="margin-top:15px;">
    <div class="col-md-3">
        <h3>Schedule a doctor appointment</h3>
        <img src="~/Content/Images/img-1.jpg" style="width:70% ; height:70%" class="img-rounded" alt="Cinque Terre"/>
    </div>

    <div class="col-md-3">
        <h3>Сhat With Doctor</h3>
        <img src="~/Content/Images/doctor-chat.jpg" style="width:75% ; height:75%; margin-top:10px" class="img-rounded" alt="Cinque Terre"/>
    </div>

    <div class="col-md-3">
        <h3 style="margin-left:30px">Manage Existing Queues</h3>
        <img src="~/Content/Images/item3.jpg" style="width:68% ; height:68%; margin-top:6px;margin-left:15px" class="img-rounded" alt="Cinque Terre"/>
    </div>

    <div class="col-md-3">
        <h3>History of Prescriptions</h3>
        <img src="~/Content/Images/medical-prescriptions 2.jpg" style="width:75% ; height:75%; margin-top:20px; margin-left:30px" class="img-rounded" alt="Cinque Terre"/>
    </div>
  
    <div>
        <a class="btn btn-success btn-lg" href="~/Login/Login" style="margin-left:45%; margin-top:45px">Login &raquo;</a>
    </div>

</div>
}

@if (Session["permissions"] != null && Session["permissions"].Equals("2"))
{

    <div class="row" style="margin-top:15px;">
        <div class="col-md-3">
            <h3>Schedule a Doctor Appointment</h3>
            <img src="~/Content/Images/img-1.jpg" style="width:70% ; height:70%" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/Turn/Create" style="margin-left:30px; margin-top:10px">Make a Turn &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3>Сhat With Doctor</h3>
            <img src="~/Content/Images/doctor-chat.jpg" style="width:75% ; height:75%; margin-top:40px" class="img-rounded" alt="Cinque Terre" />
            <p><a class="btn btn-primary" href="~/SendData/Chat" style="margin-left:60px; margin-top:10px">Chat &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3 style="margin-left:30px">Manage Existing Queues</h3>
            <img src="~/Content/Images/item3.jpg" style="width:68% ; height:68%; margin-top:6px;margin-left:15px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/Turn/Index" style="margin-left:70px; margin-top:8px">View &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3>History of Prescriptions</h3>
            <img src="~/Content/Images/medical-prescriptions 2.jpg" style="width:75% ; height:75%; margin-top:20px; margin-left:30px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/MedicalSheet/allMedicalSheet" style="margin-left:90px; margin-top:15px">View &raquo;</a></p>
        </div>

    </div>
}

@if (Session["permissions"] != null && (Session["permissions"].Equals("1") || Session["permissions"].Equals("3")))
{
    <div class="row" style="margin-top:15px;">
        <div class="col-md-3">
            <h3>Schedule a Doctor Appointment</h3>
            <img src="~/Content/Images/img-1.jpg" style="width:70% ; height:70%" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/Turn/Create" style="margin-left:30px; margin-top:10px">Make a Turn &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3>Сhat With Patients</h3>
            <img src="~/Content/Images/doctor-chat.jpg" style="width:75% ; height:75%; margin-top:36px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/SendData/Chat" style="margin-left:60px; margin-top:10px">Chat &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3 style="margin-left:30px">View All Queues</h3>
            <img src="~/Content/Images/item3.jpg" style="width:68% ; height:68%; margin-top:25px;margin-left:15px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/Turn/AllUsers" style="margin-left:70px; margin-top:15px">View &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h3>History of Prescriptions</h3>
            <img src="~/Content/Images/medical-prescriptions 2.jpg" style="width:75% ; height:75%; margin-top:20px; margin-left:30px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/MedicalSheet/allMedicalSheet" style="margin-left:90px; margin-top:15px">View &raquo;</a></p>
        </div>
    </div>

    <div class="row" >

        <div class="col-md-3" style="margin-left:25%; margin-top:20px">
            <h3 style="margin-left:40px">Search Users</h3>
            <img src="~/Content/Images/people.jpg" style="width:80% ; height:805%; margin-top:10px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/Serach/search_1" style="margin-left:70px; margin-top:15px">Search &raquo;</a></p>
        </div>

        <div class="col-md-3" style="margin-top:20px">
            <h3>Availability of Doctor</h3>
            <img src="~/Content/Images/calendar.jpg" style="width:75% ; height:75%; margin-top:25px; margin-left:30px" class="img-rounded" alt="Cinque Terre"/>
            <p><a class="btn btn-primary" href="~/DateTimeByDoctor/Create" style="margin-left:50px; margin-top:15px">Make Work Plan &raquo;</a></p>
        </div>

    </div>
}


