@model Final_5.Models.Users

@{
    ViewBag.Title = "Index2";
}

@*<h2>Hello @Session["userName"].ToString()</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hold 'Q' to begin speech recognition</title>
    <style>
        body {
            font-family: monospace;
            font-size: 80px;
            color: white;
            background-color: white;
            -webkit-transition: background-color 400ms ease;
            transition: background-color 400ms ease;
            margin-top:150px;

        }

        main {
            /*background-color: rgba(255, 255, 255, 0.4);*/
            background-color:black;
            padding: 40px;
            color:white;
            display: inline-block;
        }
    </style>
</head>
<body>
    <main>
        <span id="speech"></span>
        <span id="interim"></span>
    </main>
</body>

<script>

    function upgrade() {
        alert('Please upgrade to Google Chrome for best possible experience.');
    }

    window.onload = function () {
        if (!(window.webkitSpeechRecognition) && !(window.speechRecognition)) {
            upgrade();
        } else {

            var speech = new webkitSpeechRecognition() || speechRecognition();// speech recognition api
            speech.lang = 'en-US';
            speech.continuous = true;//דיבור מתמשך פשוט
            speech.interimResults = true;//true means interim results are returned

            var recognizing,
                final_transcript,
                interim_transcript,
                transcription = document.getElementById('speech'),
                interim_span = document.getElementById('interim');


            interim_span.style.opacity = '0.5';

            function reset() {
                transcription.innerHTML = '';
                interim_span.innerHTML = '';
                recognizing = false;
            }

            document.onkeydown = function (e) {
                if (e.key === "q") {
                    if (!recognizing) {
                        speech.start();
                    }
                }
            };

            document.onkeyup = function (e) {
                if (e.key === "q") {
                    if (recognizing) {
                        speech.stop();
                        reset();
                    }
                }
            };

            speech.onstart = function () {
                // When recognition begins
                recognizing = true;
                console.log("Speaking!");
            };

            speech.onresult = function (event) {
                // When recognition produces result
                interim_transcript = '';
                final_transcript = '';

                // main for loop for final and interim results
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }

                transcription.innerHTML = final_transcript;//סופי
                interim_span.innerHTML = interim_transcript;//תוצאה ביניים


                if (interim_span.innerHTML == "help")
                    speak();

                if (interim_span.innerHTML == "available turn")
                    window.location = "http://localhost:11092/AnotherArea/DateTimeByDoctorsAnotherArea";

                if (interim_span.innerHTML == "all turn")
                    window.location = "http://localhost:11092/AnotherArea/TurnAnotherArea";

                if (interim_span.innerHTML == "medicine")
                    window.location = "http://localhost:11092/AnotherArea/MedicalSheetsAnotherArea";


                if (transcription.innerHTML.indexOf("create") > -1 || interim_span.innerHTML.indexOf("create") > -1) {
                    var name = transcription.innerHTML.split(" ").slice(1).join(' ').toLowerCase();
                    if (name != undefined && name != "") {
                        window.location = "http://localhost:11092/AnotherArea/TurnAnotherArea/turn?str=" + name;
                    }
                }


                var makeArray = final_transcript.split(' ');
                var bColor = makeArray.splice(-3);
                // change background color
                if ((/^change /g.test(final_transcript)) && (/background color/g.test(final_transcript))) {
                    if (bColor[0] === 'to') {
                        document.body.style.backgroundColor = bColor[1] + bColor[2];
                    } else if (bColor[1] === 'to') {
                        document.body.style.backgroundColor = bColor[2];
                    } else {
                        document.body.style.backgroundColor = bColor[0] + bColor[1] + bColor[2];
                    }
                }
            };

            speech.onerror = function (event) {
                // When recognition fails or error occurs
                console.error(event.error);
            };

            speech.onend = function () {
                // When recognition ends
                console.log("Hold 'Q' to begin speech.");
                reset();
            };

        }
    };
    function speak() {
        content = "Before you start using the application to get better service try to speak in an American accent at your service a site for ordering medical services";
        var msg = new SpeechSynthesisUtterance();
        msg.text = content;
        window.speechSynthesis.speak(msg);
        bool = false;
    }
</script>


</html>

